{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    {% for post in posts %}
    <div class="mx-auto block m-3" style="max-width: 80rem; padding: 2rem;">
        <div class="text-color">
            {% if post.image %}
                <a href="{{ Post.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="{{ post.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.name }}">
                </a>
            {% endif %}
            <h2>{{ post.title }}</h2>
            <p>{{ post.body|safe|truncatewords:"25"|linebreaks }}</p>
            <p>Posted at {{ post.date_added }}</p>
            <a href="{% url 'post_detail' post.slug %}">Read more</a>
        </div>
    </div>
    <br>
    {% endfor %}

    <div class="btt-button shadow-sm rounded-0 border button-style">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up page-top mx-auto my-auto text-color"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}