{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="text-color">
        <div class="image-container my-5">
            {% if post.image %}
                <a href="{{ post.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="{{ post.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.name }}">
                </a>
            {% endif %}
        </div>
        <h1 class="title">{{ post.title }}</h1>
        <p>{{ post.body }}</p>
        <small>Posted at {{ post.date_added }}</small><br>
        <a href="{% url 'blog' %}">Go Back</a>
        {% if request.user.is_superuser %}
            <small class="ml-3">
                <a href="{% url 'edit_post' post.slug %}">Edit</a> | 
                <a class="text-danger" href="{% url 'delete_post' post.slug %}">Delete</a>
            </small>
        {% endif %}
    </div>
{% endblock %}