{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col-12 align-self-center">
                <h2>Want to speak to us?</h2>
                <p>The quickest way to get a response is via our social media, but here is our other contact information too!</p>
            </div>
            <div class="col-6">
                <p><i class="fas fa-envelope"></i> <b>Email:</b> hello@picturesque.com</p>
				<p><i class="fas fa-mobile-alt"></i> <b>Phone:</b> 01346 554689</p>
				<p><i class="fas fa-map-marker-alt"></i> <b>Address:</b> Picture View, The Old Factory, Manchester, M4 3DE</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Social Media</h3>
                <a target="_blank" href="https://www.facebook.com/" rel="noopener"> <i
                    class="fab fa-facebook-f" aria-hidden="true"></i>
                <span class="sr-only icon-text">Facebook</span>
                </a>
                <a target="_blank" href="https://www.twitter.com/" rel="noopener"> <i class="fab fa-twitter"
                    aria-hidden="true"></i>
                <span class="sr-only icon-text">Twitter</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}